# California talent agencies

In [1]:
import pandas as pd
import geopandas as gpd
import cpi
from urllib.request import urlopen 
import pyarrow
import jenkspy
import matplotlib.pyplot as plt
%matplotlib inline
import json
import numpy as np
from altair import datum
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
plt.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (16,8)
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
pd.options.display.float_format = '{:,.2f}'.format
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [2]:
agencies = pd.read_csv('input/talagCMS.csv')

In [3]:
agencies.columns = agencies.columns.str.strip().str.lower().str.replace(' ', '_')\
                    .str.replace('(', '').str.replace(')', '').str.replace('-','_')

In [4]:
agencies = agencies.apply(lambda x: x.astype(str).str.upper())

In [5]:
agencies.dtypes

license_no       object
name             object
address          object
city             object
state            object
zip              object
expires          object
wc_carrier       object
wc_exp_date      object
bond_issuer      object
bond_eff_date    object
dtype: object

In [6]:
agencies['expires'] = pd.to_datetime(agencies['expires'], format='%m/%d/%y')
agencies['wc_exp_date'] = pd.to_datetime(agencies['wc_exp_date'], format='%m/%d/%y')
agencies['bond_eff_date'] = pd.to_datetime(agencies['bond_eff_date'], format='%m/%d/%y')

In [7]:
surety1 = agencies['bond_issuer'].str.contains('SURETY') \
        & agencies['bond_issuer'].str.contains('1')
hartford = agencies['bond_issuer'].str.contains('HARTFORD')
western = agencies['bond_issuer'].str.contains('WESTERN')
hanover = agencies['bond_issuer'].str.contains('HANOVER')
statefarm = agencies['bond_issuer'].str.contains('STATE FARM')

In [8]:
agencies['bond_issuer_clean'] = np.where(statefarm, 'STATE FARM',
                                         np.where(hartford, 'HARTFORD',
                                                  np.where(western, 'WESTERN SURETY',
                                                           np.where(hanover, 'HANOVER',
                                                                    agencies['bond_issuer'].str.replace('THE ', '')\
                                                                    .str.replace(' COMPANY', '')\
                                                                    .str.replace('NAN', 'NOT LISTED')\
                                                                    .str.replace('OLD REPUBLIC SURETY',\
                                                                                 'OLD REPUBLIC')\
                                                                    .str.replace('SURETY1','SURETY 1')\
                                                                    .str.replace(',','')
                                                                   ))))

---

In [9]:
agencies.head()

,license_no,name,address,city,state,zip,expires,wc_carrier,wc_exp_date,bond_issuer,bond_eff_date,bond_issuer_clean
0,TA000205532,ALISON MARCKSTADT DBA RANK ARTISTS MANAGEMENT,408 NORTH BEACHWOOD DRIVE,BURBANK,CA,91506,2017-11-14,NAN,NaT,GREAT AMERICA,2016-12-05,GREAT AMERICA
1,TA000205812,HADASSAH GROUP LLC,"1801 CENTURY PARK EAST, 24TH FLOOR",LOS ANGELES,CA,90067,2020-03-08,NAN,NaT,THE GRAY CASUALTY & SURETY COMPANY,2018-12-24,GRAY CASUALTY & SURETY
2,TA000206121,RAE MODEL & TALENT AGENCY LLC,"414 MASON STREET, SUITE 705",SAN FRANCISCO,CA,94102,2020-02-14,STATE FUND,2019-04-06,PHILADELPHIA,2012-02-29,PHILADELPHIA
3,TA000206852,JAMES WEISSENBACH DBA WEISSENBACH MANAGEMENT,5951 AIRDROME STREET,LOS ANGELES,CA,90035,2020-03-17,NAN,NaT,CNA SURETY,2006-03-17,CNA SURETY
4,TA000206953,PARADIGM TALENT AGENCY LLC,8942 WILSHIRE BOULEVARD,BEVERLY HILLS,CA,90211,2019-12-24,FEDERAL INSUR,2019-02-12,HARTFORD,2018-02-12,HARTFORD

In [10]:
today = pd.datetime.today().strftime("%m/%d/%Y")

In [11]:
current = agencies[agencies['expires'] > today]

In [12]:
current.head()

,license_no,name,address,city,state,zip,expires,wc_carrier,wc_exp_date,bond_issuer,bond_eff_date,bond_issuer_clean
1,TA000205812,HADASSAH GROUP LLC,"1801 CENTURY PARK EAST, 24TH FLOOR",LOS ANGELES,CA,90067,2020-03-08,NAN,NaT,THE GRAY CASUALTY & SURETY COMPANY,2018-12-24,GRAY CASUALTY & SURETY
2,TA000206121,RAE MODEL & TALENT AGENCY LLC,"414 MASON STREET, SUITE 705",SAN FRANCISCO,CA,94102,2020-02-14,STATE FUND,2019-04-06,PHILADELPHIA,2012-02-29,PHILADELPHIA
3,TA000206852,JAMES WEISSENBACH DBA WEISSENBACH MANAGEMENT,5951 AIRDROME STREET,LOS ANGELES,CA,90035,2020-03-17,NAN,NaT,CNA SURETY,2006-03-17,CNA SURETY
4,TA000206953,PARADIGM TALENT AGENCY LLC,8942 WILSHIRE BOULEVARD,BEVERLY HILLS,CA,90211,2019-12-24,FEDERAL INSUR,2019-02-12,HARTFORD,2018-02-12,HARTFORD
9,TA000206994,CRAIG SCAGNETTI DBA JACK SCAGNETTI AGENCY,5136 VINELAND AVE,NORTH HOLLYWOOD,CA,91601,2020-04-23,NAN,NaT,HARTFORD FIRE,2015-10-06,HARTFORD

In [13]:
len(current)

729

In [14]:
current.to_csv('output/current.csv')

In [15]:
cities = current.groupby(['city']).agg('size').reset_index(name='count')

In [16]:
cities.sort_values(by='count',ascending=False).head(10)

               city  count
57      LOS ANGELES    220
12    BEVERLY HILLS     61
16          BURBANK     35
115    SHERMAN OAKS     30
137  WEST HOLLYWOOD     21
111    SANTA MONICA     20
100   SAN FRANCISCO     19
99        SAN DIEGO     18
143  WOODLAND HILLS     17
120     STUDIO CITY     15

In [17]:
cities.to_csv('output/cities.csv')

In [18]:
bond = current.groupby(['bond_issuer_clean']).agg('size').reset_index(name='count')

In [19]:
bond.sort_values(by='count',ascending=False).head(100)

                            bond_issuer_clean  count
51                                   HARTFORD    163
130                            WESTERN SURETY    101
100                                  SURETY 1     82
78                               OLD REPUBLIC     29
94                                 STATE FARM     29
50                                    HANOVER     26
15             AMERICAN CONTRACTORS INDEMNITY     25
7                                        ACIC     14
110                              TOKIO MARINE     13
10                                      AEGIS     13
33                                 CNA SURETY     10
41                     GRAY CASUALTY & SURETY     10
82           PHILADELPHIA INDEMNITY INSURANCE      9
102                              SURETY BONDS      9
12                   AEGIS SECURITY INSURANCE      8
107                               SURETYBONDS      6
90                              RLI INSURANCE      6
98                          SURETEC INSURANCE      5
113                                 TRAVELERS      5
96                                    SURETEC      5
77                                 NOT LISTED      5
87                               PLATTE RIVER      5
81                               PHILADELPHIA      5
46                   GREAT AMERICAN INSURANCE      4
45                              GREAT AMERICA      4
40                              GRAY CASUALTY      4
11                             AEGIS SECURITY      4
128        WASHINGTON INTERNATIONAL INSURANCE      3
101                               SURETY BOND      3
73                NATIONWIDE MUTUAL INSURANCE      3
52                                        HCC      3
53                                 HCC SURETY      3
89                                 PRO SURETY      3
65                             LIBERTY MUTUAL      2
97                              SURETEC INSUR      2
60           INTERNATIONAL FIDELITY INSURANCE      2
76         NORTH AMERICAN SPECIALTY INSURANCE      2
95                                   SURE TEC      2
38                                  GRAY CASU      2
129                               WELLS FARGO      2
105                                SURETY ONE      2
5                               ABSOLUTE SURE      2
108                             SURETYBONDS.C      2
36           FIDELITY AND DEPOSIT OF MARYLAND      2
111                          TOKIO MARINE HCC      2
120                   UNITED SURETY INSURANCE      2
103                                 SURETY CO      1
85                                       PIIC      1
88                     PLATTE RIVER INSURANCE      1
124                    UTICA MUTUAL INSURANCE      1
86            PILADELPHIA INDEMNITY INSURANCE      1
125                        VIGILANT INSURANCE      1
126                               VIKING BOND      1
84            PHILDELPHIA INDEMNITY INSURANCE      1
83           PHILADELPHIA INSURANCE COMPANIES      1
122                              US SPECIALTY      1
127                                  W SURETY      1
80                                   P.I.I.C.      1
79                           OLD SURETY GROUP      1
123                              UTICA MUTUAL      1
92                              SCOTTSDALE IN      1
121                         US FIRE INSURANCE      1
91                                     SAFECO      1
93   ST PAUL TRAVELERS CASUALTY AND INSURANCE      1
119                             UNITED SURETY      1
118                             UNITED CASUAL      1
117                  UNION BANK OF CALIFORNIA      1
116                  U.S. SPECIALTY INSURANCE      1
115                             TRAVELERS INS      1
114  TRAVELERS CASUALTY AND SURETY OF AMERICA      1
112                              TOLMAN WIKER      1
109                           SURETYBONDS.COM      1
99                                     SURETY      1
106                             SURETY SOLUTI      1
104                             SURETY COMPAN      1
0                                      1/1/20      1
66                      LIBERTY MUTUAL SURETY      1
75                               NFP PROPERTY      1
20                             AMTRUST SURETY      1
31                         CITY NATIONAL BANK      1
30                                   CITIBANK      1
29                                CAL-SOCIETY      1
28                               BONDSEXPRESS      1
27                              BONDS EXPRESS      1
26                                BONDING SOL      1
25                               BOND EXPRESS      1
24                              BOND EXCHANGE      1
23               ATLANTIC SPECIALTY INSURANCE      1
22                               ARTISAN BOND      1
21                                   ARGONAUT      1
19               AMERICAN INDEMNITY INSURANCE      1
34                                        F&D      1
18              AMERICAN CONTRACTORS INMENITY      1
17              AMERICAN CONTRACTORS INEMNITY      1
16   AMERICAN CONTRACTORS INDEMNITY INSURANCE      1
14                              AMERICAN CONT      1
13                              AMERICAN CONF      1
9                               ADVANCED SURE      1
8         ADVANCE SURETY AND INSURANCE AGENCY      1
6         ACCREDITED SURETY AND CASUALTY INC.      1

In [20]:
bond.to_csv('output/bond.csv')